    <h3 class='page-header'>I N D E X</h3>

    <div class="gradient-bar">
    </div>

    <div id="display-cards">
        <% books.forEach( book => { %>
        <div>
            <h3><%= book.title %></h3>
            <p>Published: <%= book.published.toDateString() %></p>
            <a href="/books/<%= book.id %>">

                <img src="<%= book.coverImagePath %>" height="150" width="100" alt="<%= book.title %>">
            </a>
        </div>
        <% }) %>
    </div>