<h2 class="page-header">Find Author</h2>

<form action="/authors" method="get">
    <div class="form-row">
        <div class="form-item">

            <label for="">Name</label>
            <input type="text" name="name" id="" value="<%= searchCondition.name %>">
        </div>
    </div>
    <div class="form-row form-row-end">

        <button type="submit" class="btn btn-primary">Find</button>
    </div>

</form>


<% authors.forEach( author => { %>
<div class="author-row">
    <div class="author-name"><%= author.name %></div>
    <div class="btn-row">
        <a class="btn btn-primary" href="/authors/<%= author.id %>">View</a>
        <a class="btn btn-primary" href="/authors/<%= author.id %>/edit">Edit</a>
        <%- include("../partials/deleteForm.ejs", { url :`/authors/${author.id}`, name: ''}) %>
    </div>

</div>
<% }) %>