<h2 class="page-header"><%= author.name %></h2>

<% if(author.bookList.length > 0) {%>

<H4 class="page-header">Book List</H4>

<% author.bookList.forEach( book => { %>

<a href="/books/<%=book.id%>">
    <img src="<%= book.coverImagePath %>" height="150" width="100" alt="<%= book.title %>">
</a>
<p><%= book.title %></p>
<p>Published: <%= book.published %></p>

<%  }) }else {%>
<%- include('../partials/deleteForm.ejs', {url: `/authors/${author.id}` } )%>
<% } %>